Looking for help?
<a href="http://www.100starlings.com">100Starlings</a>
has been building with Rails since the beginning. Rails is a core skill for most
developers at 100Starlings, some of whom has been working with it since the
pre-1.0 days. We'd love to take a look at your project.
<a href="mailto:info@100starlings.com">Contact us</a>
and find out how we can help you.
